body {
  font-family: Arial, sans-serif;
}

.navbar.fixed-top {
  z-index: 998;
  background: #161a32;
  padding: 0;
}

.logo {
  margin: 10px 0;
}

@media (min-width: 992px) {
  .navbar-container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
  }

  .navigation .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.125rem;
  }
  .nav-item {
    margin-right: 60px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }

  .bookDemo_btn {
    display: block;
  }

  .product-list {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    position: absolute;
    top: 37px;
    left: 0;
    display: none;
  }

  .product-list.show {
    display: block;
  }

  li.product-list-item {
    background-color: #19b9c3;
    border-bottom: 1px solid #fff;
  }

  .product-list-item:hover {
    background-color: #fff;
  }

  .product-list-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product-list-item:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
  }

  .product-list-item-link {
    display: block;
  }
}

@media (min-width: 1200px) {
  .navbar-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.hero-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 70px center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #161a32;
  padding-top: 70px;
}

.hero-section__wrapper {
  margin-left: 10%;
  text-align: center;
}

.hero-section__title {
  color: #fff;
  margin-bottom: 50px;
  text-align: left;
  font-size: 3.125rem;
}

@media (min-width: 1200px) {
  .hero-section__title {
    font-size: 5rem;
  }
}

.hero-section__paragraph {
  font-size: 1.72rem;
  color: #737f8a;
  line-height: 1.14;
}

@media (min-width: 1200px) {
  .hero-section__paragraph {
    font-size: 2.75rem;
  }
}

.ngchat-button {
  font-size: 1.56rem;
  color: #fff;
  line-height: 1.33;
  padding: 18px 52px;
  border-radius: 58px;
  border: 2px solid #fff;
}

@media (min-width: 1200px) {
  .ngchat-button {
    font-size: 2.5rem;
  }
}

.ngchat-button:hover {
  border: 2px solid #57cbcc;
}

.hero-section__button {
  margin-top: 115px;
}

.about-container {
  padding-left: 6%;
  padding-right: 6%;
}

.about-container__wrapper {
  display: flex;
}

.about-container__image {
  margin-right: 40px;
  flex: 0 35%;
  align-items: center;
  display: flex;
}

.about-container__image img {
  max-width: 100%;
}

.about-container__information {
  flex: 1;
}

.about-container__header {
  padding-bottom: 90px;
}

.about-container__card {
  display: flex;
  margin-bottom: 68px;
}

.about-container__title {
  font-size: 1.56rem;
  font-weight: bold;
  line-height: 1.13;
  color: #fff;
  margin-bottom: 15px;
}

.about-container__title--highlight {
  color: #19b9c3;
}

.about-container__title--center {
  text-align: center;
}

@media (min-width: 1200px) {
  .about-container__title {
    font-size: 2.5rem;
  }
}

.about-container__sub-title {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 1200px) {
  .about-container__sub-title {
    font-size: 2rem;
  }
}

.about-container__description {
  font-size: 1.17rem;
  line-height: 1.13;
  color: #737f8a;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .about-container__description {
    font-size: 1.875rem;
  }
}

.about-container__button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-card {
  width: 1053px;
  background: #242930;
  display: flex;
  padding: 30px 40px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.about-card--last {
  margin-bottom: 0;
}

.about-card__image {
  flex: 1 60%;
}

.about-card__information {
  flex: 1 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
}

.about-card__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.16;
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
}

.about-card__content {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #737f8a;
  text-align: left;
}

@media (min-width: 1200px) {
  .about-card__title {
    font-size: 2rem;
  }

  .about-card__content {
    font-size: 2rem;
  }
}

.media {
  border: 1px solid #19b9c3;
  padding: 30px 50px 36px;
  border-radius: 50px;
  margin-right: 20px;
  flex: 1;
}

@media (min-width: 1200px) {
  .media {
    margin-right: 87px;
  }
}

.media--last {
  margin-right: 0;
}

.media__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.16;
}

@media (min-width: 1200px) {
  .media__title {
    font-size: 2rem;
  }
}

.media__content {
  font-size: 1.17rem;
  color: #737f8a;
  line-height: 1.13;
}

@media (min-width: 1200px) {
  .media__content {
    font-size: 1.875rem;
  }
}

.service-container {
  display: flex;
  padding: 40px 36px 33px 65px;
  background: #242930;
  margin-bottom: 50px;
  border-radius: 50px;
  max-width: 1000px;
  border-bottom: 5px solid #19b9c3;
  border-right: 5px solid #19b9c3;
  margin-left: auto;
  margin-right: auto;
}

.service-container__image {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.service-container__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.16;
  color: #fff;
}

@media (min-width: 1200px) {
  .service-container__title {
    font-size: 2rem;
  }
}

.service-container__content {
  font-size: 1.17rem;
  line-height: 1.13;
  color: #737f8a;
}

@media (min-width: 1200px) {
  .service-container__content {
    font-size: 1.875rem;
  }
}

.portfolio-filter-container {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-filter-container__button {
  font-size: 1.125rem;
  line-height: 1.17;
  color: #50fec5;
  outline: none;
  border: 1px solid #777777;
  background: 0 0;
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  font-weight: 700;
  transition: 0.3s all;
  border-radius: 15px;
  margin-right: 20px;
}

@media (min-width: 1200px) {
  .portfolio-filter-container__button {
    margin-right: 50px;
  }
}

.portfolio-filter-container__button:focus {
  outline: none;
}

.portfolio-filter-container__button:last-child {
  margin-right: 0;
}

.portfolio-filter-container__button:hover,
.portfolio-filter-container__button.active {
  border: 1px solid #50fec5;
}

.filtr-container {
  margin: 0;
}

.filtr-item {
  padding-right: 37px;
  padding-left: 37px;
}

.portfolio-block {
  margin-bottom: 60px;
  border-radius: 50px;
  overflow: hidden;
}

.contact-info {
  padding-top: 120px;
}

.contact-info p {
  margin-bottom: 40px;
}

.contact-info__title,
.contact-info__content {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #fff;
}

.bookDemo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bookDemo {
  display: flex;
  justify-content: center;
}

.bookDemo_btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  font-size: 1rem;
  border-radius: 58px;
  cursor: pointer;
}

.nav-products {
  position: relative;
  color: #fff;
}

.nav-products .nav-link {
  cursor: pointer;
  display: inline-block;
}

.nav-products:hover,
.nav-products:focus {
  color: #57cbcc;
}

ul.product-list,
li.product-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list {
  white-space: nowrap;
  z-index: 3;
}

li.product-list-item {
  padding: 5px 8px;
  color: #fff;
}
.product-list-item:hover {
  color: #19b9c3;
}
.product-list .product-list-item a {
  transition: none;
}
.product-list .product-list-item:hover a,
.product-list .product-list-item a:hover {
  color: #19b9c3 !important;
}

@media (min-width: 1200px) {
  .contact-info__title,
  .contact-info__content {
    font-size: 2rem;
  }
}

.contact-info__detail {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.contact-info__icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .contact-info__detail {
    font-size: 2rem;
  }
}

.form-meghna {
  padding: 47px 61px 34px;
  border-radius: 50px;
  background-color: #242930;
}

.form-meghna .form-group {
  margin-bottom: 20px;
}

.form-meghna .form-control {
  color: #fff;
  line-height: 1.18;
  padding: 12px 26px;
  border-radius: 30px;
  border: solid 1px #ffffff;
  resize: none;
}

@media (min-width: 1200px) {
  .form-meghna__control {
    font-size: 1.375rem;
  }
}

.form-meghna__button {
  font-size: 1.17rem;
  padding: 9px 53px;
}

@media (min-width: 1200px) {
  .form-meghna__button {
    font-size: 1.875rem;
  }
}
