body {
  font-family: "Roboto", "Noto Sans TC", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  overflow: hidden;
}

body,
html {
  position: relative;
  height: 100%;
  margin: 0;
}

body::-webkit-scrollbar-track {
  background-color: #292f36;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #57cbcc;
}

/* body::-webkit-scrollbar:hover {
  width: 12px;
} */

body::-webkit-scrollbar-thumb {
  background-color: #57cbcc;
  border-radius: 8px;
}

.navbar.fixed-top {
  z-index: 998;
  background: #161a32;
  padding: 0;
}

.logo {
  margin: 10px 0;
}

.copyright .fa {
  margin-right: 0.3em;
}

.btn {
  cursor: pointer;
}

@media (min-width: 992px) {
  .navigation .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.125rem;
  }
  .nav-item {
    margin-right: 40px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }

  .bookDemo_btn {
    display: block;
  }
}

.ngchat-button {
  font-size: 1.56rem;
  color: #fff;
  line-height: 1.33;
  padding: 18px 52px;
  border-radius: 58px;
  border: 2px solid #fff;
}

@media (min-width: 1200px) {
  .ngchat-button {
    font-size: 2.5rem;
  }
}

.ngchat-button:hover {
  border: 2px solid #57cbcc;
}

.hero-section__button {
  margin-top: 115px;
}

.about-container {
  padding-left: 6%;
  padding-right: 6%;
}

.about-container__wrapper {
  display: flex;
}

.about-container__image {
  margin-right: 40px;
  flex: 0 35%;
  align-items: center;
  display: flex;
}

.about-container__image img {
  max-width: 100%;
}

.about-container__information {
  flex: 1;
}

.about-container__header {
  padding-bottom: 90px;
}

.about-container__card {
  display: flex;
  margin-bottom: 68px;
}

.about-container__title {
  font-size: 1.56rem;
  font-weight: bold;
  line-height: 1.13;
  color: #fff;
  margin-bottom: 15px;
}

.about-container__title--highlight {
  color: #19b9c3;
}

.about-container__title--center {
  text-align: center;
}

@media (min-width: 1200px) {
  .about-container__title {
    font-size: 2.5rem;
  }
}

.about-container__sub-title {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 1200px) {
  .about-container__sub-title {
    font-size: 2rem;
  }
}

.about-container__description {
  font-size: 1.17rem;
  line-height: 1.13;
  color: #737f8a;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .about-container__description {
    font-size: 1.875rem;
  }
}

.about-container__button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.about-card {
  width: 1053px;
  background: #242930;
  display: flex;
  padding: 30px 40px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.about-card--last {
  margin-bottom: 0;
}

.about-card__image {
  flex: 1 60%;
}

.about-card__information {
  flex: 1 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
}

.about-card__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.16;
  color: #fff;
  text-align: left;
  margin-bottom: 50px;
}

.about-card__content {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #737f8a;
  text-align: left;
}

@media (min-width: 1200px) {
  .about-card__title {
    font-size: 2rem;
  }

  .about-card__content {
    font-size: 2rem;
  }
}

.media {
  border: 1px solid #19b9c3;
  padding: 30px 50px 36px;
  border-radius: 50px;
  margin-right: 20px;
  flex: 1;
}

@media (min-width: 1200px) {
  .media {
    margin-right: 87px;
  }
}

.media--last {
  margin-right: 0;
}

.media__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.16;
}

@media (min-width: 1200px) {
  .media__title {
    font-size: 2rem;
  }
}

.media__content {
  font-size: 1.17rem;
  color: #737f8a;
  line-height: 1.13;
}

@media (min-width: 1200px) {
  .media__content {
    font-size: 1.875rem;
  }
}

.service-container {
  display: flex;
  padding: 40px 36px 33px 65px;
  background: #242930;
  margin-bottom: 50px;
  border-radius: 50px;
  max-width: 1000px;
  border-bottom: 5px solid #19b9c3;
  border-right: 5px solid #19b9c3;
  margin-left: auto;
  margin-right: auto;
}

.service-container__image {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.service-container__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.16;
  color: #fff;
}

@media (min-width: 1200px) {
  .service-container__title {
    font-size: 2rem;
  }
}

.service-container__content {
  font-size: 1.17rem;
  line-height: 1.13;
  color: #737f8a;
}

@media (min-width: 1200px) {
  .service-container__content {
    font-size: 1.875rem;
  }
}

.portfolio-filter-container {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-filter-container__button {
  font-size: 1.125rem;
  line-height: 1.17;
  color: #50fec5;
  outline: none;
  border: 1px solid #777777;
  background: 0 0;
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
  font-weight: 700;
  transition: 0.3s all;
  border-radius: 15px;
  margin-right: 20px;
}

@media (min-width: 1200px) {
  .portfolio-filter-container__button {
    margin-right: 50px;
  }
}

.portfolio-filter-container__button:focus {
  outline: none;
}

.portfolio-filter-container__button:last-child {
  margin-right: 0;
}

.portfolio-filter-container__button:hover,
.portfolio-filter-container__button.active {
  border: 1px solid #50fec5;
}

.filtr-container {
  margin: 0;
}

.filtr-item {
  padding-right: 37px;
  padding-left: 37px;
}

.portfolio-block {
  margin-bottom: 60px;
  border-radius: 50px;
  overflow: hidden;
}

.contact-info {
  padding-top: 120px;
}

.contact-info p {
  margin-bottom: 40px;
}

.contact-info__title,
.contact-info__content {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #fff;
}

.bookDemo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bookDemo {
  display: flex;
  justify-content: center;
}

.bookDemo_btn {
  display: inline-block;
  padding: 3px 10px;
  font-size: 1rem;
  border-radius: 58px;
  cursor: pointer;
  background-color: #19b9c3;
  color: #fff;
  white-space: nowrap;
}

.nav-products {
  position: relative;
  color: #fff;
}

.nav-products .nav-link {
  cursor: pointer;
  display: inline-block;
}

.nav-products:hover {
  color: #57cbcc;
}

@media (min-width: 1200px) {
  .contact-info__title,
  .contact-info__content {
    font-size: 2rem;
  }
}

.contact-info__detail {
  font-size: 1.25rem;
  line-height: 1.16;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.contact-info__icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .contact-info__detail {
    font-size: 2rem;
  }
}

.form-meghna {
  padding: 47px 61px 34px;
  border-radius: 50px;
  background-color: #242930;
}

.form-meghna .form-group {
  margin-bottom: 20px;
}

.form-meghna .form-control {
  color: #fff;
  line-height: 1.18;
  padding: 12px 26px;
  border-radius: 30px;
  border: solid 1px #ffffff;
  resize: none;
}

@media (min-width: 1200px) {
  .form-meghna__control {
    font-size: 1.375rem;
  }
}

.form-meghna__button {
  font-size: 1.17rem;
  padding: 9px 53px;
}

@media (min-width: 1200px) {
  .form-meghna__button {
    font-size: 1.875rem;
  }
}

#google-widget {
  display: none;
}
#google-widget .tip {
  -webkit-filter: drop-shadow(0 1px 3px rgba(60, 64, 67, .15)) drop-shadow(0 1px 2px rgba(60, 64, 67, .3)) drop-shadow(0 3px 5px rgba(128, 134, 139, .06)) drop-shadow(0 -1px 5px rgba(128, 134, 139, .09));
  filter: drop-shadow(0 1px 3px rgba(60, 64, 67, .15)) drop-shadow(0 1px 2px rgba(60, 64, 67, .3)) drop-shadow(0 3px 5px rgba(128, 134, 139, .06)) drop-shadow(0 -1px 5px rgba(128, 134, 139, .09));
  background: #e8f0fe;
  border-radius: 8px;
  bottom: 76px;
  color: #1967d2;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 280px;
  padding: 12px 16px;
  position: absolute;
  right: 0;
  text-align: left;
  white-space: normal;
  width: -webkit-max-content;
  width: max-content;
}
#google-widget .tip::after {
  background: #e8f0fe;
  border-radius: 4px;
  bottom: 4px;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  right: 20px;
  -webkit-transform: matrix(1.1, -1.7, 1.1, 1.7, 0, 0);
  transform: matrix(1.1, -1.7, 1.1, 1.7, 0, 0);
  width: 16px;
  z-index: -1;
}
#google-widget button {
  background: 50%/24px no-repeat url(https://www.gstatic.com/business-messages/v2/bm_widget_icon_white.svg) #19b6c0;
}
#google-widget [role="tooltip"], #google-widget .tip {
  background-color: #19b6c0;
  color: white;
}
#google-widget [role="tooltip"]::after, #google-widget .tip::after {
  background-color: #19b6c0;
}
