body {
  font-family: "Roboto", "Noto Sans TC", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  overflow: hidden;
}

body,
html {
  position: relative;
  height: 100%;
  margin: 0;
}

body::-webkit-scrollbar-track {
  background-color: #292f36;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #57cbcc;
}

/* body::-webkit-scrollbar:hover {
  width: 12px;
} */

body::-webkit-scrollbar-thumb {
  background-color: #57cbcc;
  border-radius: 8px;
}

.logo {
  margin: 10px 0;
}

.copyright .fa {
  margin-right: 0.3em;
}

.btn {
  cursor: pointer;
}

.media {
  border: 1px solid #19b9c3;
  padding: 30px 50px 36px;
  border-radius: 50px;
  margin-right: 20px;
  flex: 1;
}

@media (min-width: 1200px) {
  .media {
    margin-right: 87px;
  }
}
